*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div, span, input, select, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, li, button {
  font-family: 'Poppins';
}

.app-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 0 100px;
}