.header-container {
    background: #23bf86;
    padding: 16px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-section {
      .logo {
        width: 110px;
        height: auto;
      }
    }
    .right-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      .header-links {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style-type: none;
        .header-link {
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          &.active {
            border-bottom: 2px solid #fc0303;
            background: #ff030370;
            padding: 5px;
          }
        }
      }
      .auth-links {
        display: flex;
        align-items: center;
        gap: 20px;
        list-style-type: none;
        .auth-link {
          color: #ffffff;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
